<%- include('partials/header'); -%>

<h1 id="journalDate"><%=title%></h1>

<a href="/"
  ><h2>Back Home <i class="fa-solid fa-house"></i></h2
></a>
<a href="/myJournals"
  ><h2>
    Back to My Journal <i class="fa-solid fa-book"></i></h2
></a>
<br>
<h2>Journal:</h2>
<ul>
    <h3>I am grateful for:</h3>
<% grateful.forEach(function(input){ %>
    <li class="li"><%= input %></li>
    <% }) %>
    <br>
    <h3>I accomplished:</h3>
    <% accomplishments.forEach(function(input){ %>
        <li class="li"><%= input %></li>
        <% }) %>
        <br>
        <h3>I enjoyed the most:</h3>
        <% enjoyed.forEach(function(input){ %>
            <li class="li"><%= input %></li>
            <% }) %>
        </ul>
        <br><br>

</html>