<%- include('partials/header'); -%>

<div class="date"><%=day%></div>

<a href="/"
  ><h2>Back Home <i class="fa-solid fa-book"></i></h2
></a>
<a href="/morningJournal"
  ><h2>Morning Journal <i class="fa-solid fa-pen-to-square nightLog"></i></h2
></a>

<div class="nightJournal">
  <div class="box">
    <h1>I am grateful for:</h1>
    <ul class="lists">
      <% grateful.forEach(function(input){ %>
      <li><%= input %></li>
      <% }) %>
    </ul>
    <form class="" action="/grateful" method="post">
      <input type="text" name="grateful" />
      <button type="submit" name="button">+</button>
    </form>
  </div>

  <div class="box">
    <h1>I have accomplished:</h1>
    <ul class="lists">
      <% accomplishments.forEach(function(input){ %>
      <li><%= input %></li>
      <% }) %>
    </ul>
    <form class="" action="/accomp" method="post">
      <input type="text" name="accomplishments" />
      <button type="submit" name="button">+</button>
    </form>
  </div>

  <div class="box">
    <h1>I enjoyed the most:</h1>

    <ul class="lists">
      <% enjoyed.forEach(function(input){ %>
      <li><%= input %></li>
      <% }) %>
    </ul>
    <form class="" action="/enjoyed" method="post">
      <textarea name="enjoyed" cols="30" rows="10"></textarea>
      <button type="submit" name="button">+</button>
    </form>
  </div>
</div>
